html{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}
body{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
}

header{
	text-align: center;
	font-family: 'Special Elite', cursive;
	background-color: #C17D14;
	display: inline-block;
	width: 90%;
	
}

footer{
	width: 90%;
	font-family: 'Special Elite', cursive;
	background-color: #C17D14;
    display: inline-block;
	text-align: center;
}

.navbro{
	float: left;
	height: 100%;
	width: 10%;
	display: inline-block;
	background-color: #F9B62F;
}

.navbro a{
	color: black;
}

.navbro ul{
	font-family: 'Special Elite', cursive;
	list-style-type: none;
	font-weight: bold;
	font-size: 20px;
}

*{
	box-sizing: border-box;
}
#vermenu{
	width: 50%;
	height: 100%;
	float: left;
	background-color: #E5B816;
	text-align: center;
}

#hormenu{
	width: 50%;
	height: 100%;
	display: inline-block;
	float: right;
	background-color: #19796B;
	text-align: center;
	color: white;
}

#vermenu h1{
	width: 60%;
	font-family: 'Special Elite', cursive;
	border: 2px solid black;
	margin: 7em auto;
	padding: 1em;
}

#hormenu h1{
	width: 60%;
	font-family: 'Special Elite', cursive;
	border: 2px solid white;
	margin: 7em auto;
	padding: 1em;
}

a{
	text-decoration: none;
}

#vermenu a{
	color: black;
}

#hormenu a{
	color: white;
}